body{
margin:0;
font-family:Arial;
background:#d6d6d6;
}

body.dark{
background:#1e1e1e;
}

#workspace{
display:flex;
height:100vh;
}

#canvasArea{
flex:1;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

#canvasWrapper{
position:relative;
}

#canvasContainer{
position:relative;
background:white;
box-shadow:0 0 15px rgba(0,0,0,0.4);
}

canvas{
position:absolute;
top:0;
left:0;
}

#panel{
width:260px;
background:#2b2b2b;
color:white;
padding:10px;
overflow:auto;
}

body.dark #panel{
background:#121212;
}

button{
width:100%;
margin-top:5px;
padding:6px;
border:none;
background:#444;
color:white;
cursor:pointer;
}

button:hover{
background:#666;
}

.layer{
background:#3b3b3b;
padding:5px;
margin-top:4px;
cursor:pointer;
}

.layer.active{
background:#777;
}

#startup{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:#000000cc;
display:flex;
justify-content:center;
align-items:center;
}

#startupBox{
background:white;
padding:20px;
width:300px;
}